
.home_container {
    display: flex;
    justify-content: center; 
    align-items: center;  
    height: 100vh;   
}

.home_content{
    display: flex;
    flex-direction: row;
}

.home_logo {
    width: 600px;
}

.home_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 200px;
}

.home_title h2 {
    font-weight: 350;
    font-style: italic;
    font-size: 25px;
    margin-left: 20px;
}

.home_login {
    background-color: #635BFF;
    border-radius: 10px;
    padding: 2em 7em !important;
    color: white;
    display: flex; /* Add this */
    flex-direction: column !important; /* Add this */
    align-items: center !important; /* Center items */
    /* padding: 0; */
}

.home_login h2 {
    text-align: center;
    font-size: 30px;
}

.home_option {
    margin-top: 20px;
}

.home_option_label {
    margin-bottom: 100px;
}

.home_login button {
    color: white;
    margin-top: 20px;
    padding: 10px 50px; /* Adjust the padding */
    border-radius: 10px; 
    background-color: transparent;
    border: 2px solid white;
    cursor: pointer;
    display: flex;
    justify-content: center; /* Center the text horizontally */
    align-items: center; /* Center the text vertically */
    width: 100%; /* Make button full width to center properly */
}

.home_login p {
    margin-top: 20px;
    font-size: 15px;
    font-style: italic;
}

.signUp {
    margin-left: 3px;
}