@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
.user_information_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;  
    overflow-x: hidden; 
    margin-left: 200px;
    margin-right: 200px;
}

.user_information_container h1 {
    font-size: 60px;
    font-weight: 700;
    animation: slideInFromLeft 0.5s ease-out;
}

.user_selections {
    background-color: #635BFF;
    border-radius: 10px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 60px;
    padding-bottom: 40px;
    margin-top: -30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    animation: slideInFromLeft 0.5s ease-out 0.2s;
    animation-fill-mode: both;
}

.form_row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.user_option {
    flex: 1; 
    margin-right: 20px;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

.user_option:last-child {
    margin-right: 0; 
}

.user_option label {
    display: block;
    margin-bottom: 5px;
    margin-right: 10px;
}

input,
select {
    width: 100%; 
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px; 
    border: none; 
    background-color: white; 
    color: black; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px; 
    font-size: 16px; 
    transition: box-shadow 0.3s ease; 
}

input:focus,
select:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 5px rgba(99, 91, 255, 0.7); /* Glow effect on focus */
}

.user_option {
    flex: .9;
    margin-right: 20px;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

.user_option:last-child {
    margin-right: 0;
}

.nextLogo {
    width: 75px;
    position: absolute;
    right: 20px; 
    bottom: 20px; 
    z-index: 10; 
    cursor: pointer;
    animation: fade-in_logo 1.5s ease-in forwards, pulse 2s infinite 1.5s; 
}

.pulse {
    animation: pulse 2s infinite;
}

@keyframes fade-in_logo {
    0% {
        opacity: 0;
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.9);
    }
}

.warning {
    color: white;
    font-style: italic;
    display: flex;
    justify-content: center;
}